* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    margin: 15px;
}

#page-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#page-navigation button {
    padding: 5px;
    margin: 8px;
}

#pokedex-container {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

.pokemon-div {
    width: 175px;
    height: 175px;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.type-two {
    height: 15px;
    width: 15px;
    border-radius: 8px; 
    align-self: flex-end;
}

#pokemon {
    position: relative;
    top: -15px;
    text-transform: capitalize;
}

.pokemon-container img {
    width: 70px;
    position: relative;
    bottom: 10px;
}

.pokemon-container:hover {
    transform: scale(1.1);
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, .2);
    width: 160px;
}

.grass {
    background-color: #78C850;
}

.water {
    background-color: #6890F0;
}

.normal {
    background-color: #A8A878;
}